body {
  margin: 0;
  background: #1C1C1C;
  font-family: 'Inter', sans-serif;
  color: white;
}

.container {
  width: 550px;
  height: 868px;
  background: #23252C;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header {
  width: 317px;
  background: #1A1B21;
}

header > h1 {
  margin: 0;
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  text-align: center;
  padding-top: 21px;
}

header > h3 {
  margin: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  text-align: center;
  color: #F3BF99;
  padding-top: 6px;
}

#root {
  display: flex;
  justify-content: center;
}

.image {
  background-image: url("../public/images/ramses.png");
  background-position: center;
  background-size: 150%;
  background-repeat: no-repeat;
  height: 317px;
  border-radius: 15px 15px 0px 0px;
}